<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Section</title>
    <link rel="stylesheet" href="static/assets/css/blogs.css">
    <link rel="shortcut icon" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>
<body>

    <section id="blog">
        <div class="blog-heading">
            <h3>Recent Tech Blog</h3>
        </div>
        <div class = "wrapper">
 <!--blog-container---->
        <div class="blog-box">

            <!--img1-->
            <div class="blog-img">
                <img src="static/assets/img/img2.webp" alt="Blog">
            </div>


            <!--text-->
            <div class="blog-text">
                <span>04 June 2024 / AI</span>
                <a href="#" class="blog-title">How AI could supercharge the Vision Pro</a>
                <p>Apple’s Vision Pro mixed reality headset was announced one year ago this week, and it’s arguably already due for a major upgrade to add artificial intelligence.</p>
                <a href="#">Read More</a>
            </div> 
        </div>
        <div class="blog-box">
            <!--img2-->
            <div class="blog-img">
                <img src="static/assets/img/cn.png" alt="Blog">
            </div>

            <!--text-->
            <div class="blog-text">
                <span>06 June 2024 / AI</span>
                <a href="#" class="blog-title">Opinion: The risks of AI could be catastrophic. We should empower company workers to warn us</a>
                <p>
                    In April, Daniel Kokotajlo resigned his position as a researcher at OpenAI, the company behind Chat GPT. He wrote in a statement that he disagreed with the way it is handling issues related to security as it continues to develop the revolutionary but still not fully understood technology of artificial intelligence.</p>
                <a href="#">Read More</a>
            </div> 
        </div>
        <div class="blog-box">

            <!--img3-->
            <div class="blog-img">
                <img src="static/assets/img/metaimg.webp" alt="Blog">
            </div>

            <!--text-->
            <div class="blog-text">
                <span>23 May 2024 / AI</span>
                <a href="#" class="blog-title">Meta created an AI advisory council that’s composed entirely of White men</a>
                <p>Meta this week appointed a group of outside advisors to provide guidance on its artificial intelligence strategy. The four-person advisory group is composed entirely of White men.</p>
                <a href="#">Read More</a>
            </div> 
        </div>
        </div>
    </section>
    
</body>
</html>