<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== FAVICON ===============-->
   <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.png') }}" type="image/x-icon">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">

   <!--=============== SWIPER CSS ===============-->
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swiper-bundle.min.css') }}">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

   <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='assets/css/bootstrap-icons.css') }}" rel="stylesheet">
   <link href="{{ url_for('static', filename='assets/css/templatemo-tiya-golf-club.css') }}" rel="stylesheet">

   <title>Grok</title>
</head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">
               <i class="ri-book-3-line"></i> Grok Coders
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                   <li class="nav__item">
                      <a href="#home" class="nav__link active-link">
                         <i class="ri-home-3-line"></i>
                         <span>Home</span>
                      </a>
                   </li>
                   <li class="nav__item">
                      <a href="#featured" class="nav__link">
                         <i class="ri-book-2-line"></i>
                         <span>About Us</span>
                      </a>
                   </li>
                   <li class="nav__item">
                      <a href="{{url_for('contact')}}" class="nav__link">
                         <i class="ri-price-tag-3-line"></i>
                         <span>Contact Us</span>
                      </a>
                   </li>
                   <li class="nav__item">
                      <a href="{{url_for('new')}}" class="nav__link">
                         <i class="ri-bookmark-2-line"></i>
                         <span>News</span>
                      </a>
                   </li>
                   <li class="nav__item">
                      <a href="#testimonial" class="nav__link">
                         <i class="ri-chat-3-line"></i>
                         <span>Testimonial</span>
                      </a>
                   </li>
                </ul>
            </div>
            <div class="nav__actions">
               <!-- search button -->
               <i class="ri-search-line search-button" id="search-button"></i>

               <!-- Login button -->
               <!-- <i class="ri-user-3-line login-button" id="login-button"></i> -->
               <a href="{{url_for('register_login')}}">
               <i class="ri-user-3-line login-button"></i>
               </a>
               
               <!-- Theme button -->
               <i class="ri-moon-line change-theme" id="theme-button"></i>

            </div>
         </nav>
      </header>

      <!--==================== SEARCH ====================-->
      <div class="search" id="search-content">
         <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="What are you looking for?" class="search__input">
         </form>

         <i class="ri-close-line search__close" id="search-close"></i>
      </div>

      <!-- ==================== LOGIN ====================-->
      <div class="login grid" id="login-content">
         <form action="" class="login__form grid">
            <h3 class="login__title">Log In</h3>

            <div class="login__group grid">
               <div>
                  <label for="login-email" class="login__label">Email</label>
                  <input type="email" placeholder="Write your email" id="login-email" class="login__input">
               </div>

               <div>
                  <label for="login-pass" class="login__label">Password</label>
                  <input type="password" placeholder="Enter your password" id="login-pass" class="login__input">
               </div>
            </div>

            <div>
               <span class="login__signup">
                  You do not have an account? <a href="#">Sign up</a>
               </span>

               <a href="#" class="login__forgot">
                  You forgot your password
               </a>

               <button type="submit" class="login__button button">Log IN</button>
            </div>
         </form>

         <i class="ri-close-line login__close" id="login-close"></i>
      </div>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <div class="home__container container grid">
               <div class="home__data">
                  <h1 class="home__title">
                     Browse & <br>
                     Connect
                  </h1>

                  <p class="home__description">
                     Find the best e-books from your favorite
                     writers, explore hundreds of books with all
                     possible categories, take advantage of the
                     50% discount and much more.
                  </p>

                  <a href="#" class="button">Explore Now</a>
                  <a href="{{ url_for('admins') }}" class="button">For Admin</a>
               </div>

               <div class="home__images">
                   <div class="home__swiper swiper">
                       <div class="swiper-wrapper">

                            {% for banner in banners %}
                           <article class="home__article swiper-slide">
                               <img src="{{ banner.adbook_img }}" alt="Banner Image">
                           </article>
                           {% endfor %}

                       </div>
                   </div>
               </div>


            </div>
         </section>

         <!--==================== SERVICES ====================-->
         <section class="services section">
            <div class="services__container container grid">
               <article class="services__card">
                  <i class="ri-truck-line"></i>
                  <h3 class="services__title">Trust</h3>
                  <p class="services__description">Trusted By Than 100 People</p>
               </article>

               <article class="services__card">
                  <i class="ri-lock-2-line"></i>
                  <h3 class="services__title">Secure Connect</h3>
                  <p class="services__description">100% Secure Connection</p>
               </article>

               <article class="services__card">
                  <i class="ri-customer-service-2-line"></i>
                  <h3 class="services__title">24/7 Support</h3>
                  <p class="services__description">Call us anytime</p>
               </article>
            </div>
         </section>

         <!--==================== Blog ====================-->

         <section class="events-section events-listing-section section-bg section-padding" id="section_3">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-3">Trending News & Events</h2>
                        </div>

                        <div class="row custom-block mb-3">
                            <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                                <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                    <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">24</h6>

                                    <strong class="text-white">Feb 2023</strong>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                                <div class="custom-block-image-wrap">
                                    <a href="event-detail.html">
                                        <img src="static/assets/images/blog2.png" class="custom-block-image img-fluid" alt="">

                                        <i class="custom-block-icon bi-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12 order-3 order-lg-0">
                                <div class="custom-block-info mt-2 mt-lg-0">
                                    <a href="event-detail.html" class="events-title mb-3">Private Golf Courses</a>

                                    <p class="mb-0">You can browse many different categories of CSS templates using <a href="https://templatemo.com/tag" target="_blank">tags</a> on TemplateMo website. Feel free to browse more templates and download them free instantly.</p>

                                    <div class="d-flex flex-wrap border-top mt-4 pt-3">

<!--                                        <div class="mb-4 mb-lg-0">-->
<!--                                            <div class="d-flex flex-wrap align-items-center mb-1">-->
<!--                                                <span class="custom-block-span">Location:</span>-->

<!--                                                <p class="mb-0">National Center, NYC</p>-->
<!--                                            </div>-->

<!--                                            <div class="d-flex flex-wrap align-items-center">-->
<!--                                                <span class="custom-block-span">Ticket:</span>-->

<!--                                                <p class="mb-0">$150</p>-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="d-flex align-items-center ms-lg-auto">-->
<!--                                            <a href="event-detail.html" class="btn custom-btn">Buy Ticket</a>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row custom-block custom-block-bg">
                            <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                                <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                    <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">16</h6>

                                    <strong class="text-white">Mar 2023</strong>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                                <div class="custom-block-image-wrap">
                                    <a href="event-detail.html">
                                        <img src="static/assets/images/blog1.png" class="custom-block-image img-fluid" alt="">

                                        <i class="custom-block-icon bi-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12 order-3 order-lg-0">
                                <div class="custom-block-info mt-2 mt-lg-0">
                                    <a href="event-detail.html" class="events-title mb-3">Group tournament activities</a>

                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                    <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                        <div class="mb-4 mb-lg-0">
                                            <div class="d-flex flex-wrap align-items-center mb-1">
                                                <span class="custom-block-span">Location:</span>

                                                <p class="mb-0">National Center, NYC</p>
                                            </div>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <span class="custom-block-span">Ticket:</span>

                                                <p class="mb-0">$250</p>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center ms-lg-auto">
                                            <a href="event-detail.html" class="btn custom-btn">Buy Ticket</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

         <!--==================== JOIN ====================-->
         <section class="join section man">
            <div class="join__container">
               <img src="static/assets/images/join-bg.jpg" alt="image" class="join__bg">

               <div class="join__data container grid">
                  <h2 class="join__title section__ttile">
                     Connect To Receive <br>
                     The Latest Updates
                  </h2>

                  <form action="" class="join__form">
                     <input type="number" placeholder="Enter Phone" class="join__input">
                      <a href="{{ url_for('connect_whatsapp') }}" class="join__button button" style="background-color: #43D854; color: white; display: inline-block; text-align: center; padding: 10px 20px; border: none; border-radius: 5px; text-decoration: none;">Connect</a>

                  </form>
               </div>
            </div>
         </section>

         <!--==================== TESTIMONIAL ====================-->
         <section class="testimonial section" id="testimonial">
            <h2 class="section__title">
               Customer Opinions
            </h2>

            <div class="testimonial__container container">
               <div class="testimonial__swiper swiper">
                  <div class="swiper-wrapper">
                     <article class="testimonial__card swiper-slide">
                        <img src="static/assets/images/testimonial-perfil-1.png" alt="image" class="testimonial__img">

                        <h2 class="testimonial__title">Rial Loz</h2>
                        <p class="testimonial__description">
                           The best website to buy books, the purchase
                           is very easy to make and has great discounts.
                        </p>

                        <div class="testimonial__stars">
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-half-fill"></i>
                        </div>
                     </article>

                     <article class="testimonial__card swiper-slide">
                        <img src="static/assets/images/testimonial-perfil-2.png" alt="image" class="testimonial__img">
                     
                        <h2 class="testimonial__title">Rial Loz</h2>
                        <p class="testimonial__description">
                           The best website to buy books, the purchase
                           is very easy to make and has great discounts.
                        </p>
                     
                        <div class="testimonial__stars">
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-half-fill"></i>
                        </div>
                     </article>

                     <article class="testimonial__card swiper-slide">
                        <img src="static/assets/images/testimonial-perfil-3.png" alt="image" class="testimonial__img">
                     
                        <h2 class="testimonial__title">Rial Loz</h2>
                        <p class="testimonial__description">
                           The best website to buy books, the purchase
                           is very easy to make and has great discounts.
                        </p>
                     
                        <div class="testimonial__stars">
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-half-fill"></i>
                        </div>
                     </article>

                     <article class="testimonial__card swiper-slide">
                        <img src="static/assets/images/testimonial-perfil-4.png" alt="image" class="testimonial__img">
                     
                        <h2 class="testimonial__title">Rial Loz</h2>
                        <p class="testimonial__description">
                           The best website to buy books, the purchase
                           is very easy to make and has great discounts.
                        </p>
                     
                        <div class="testimonial__stars">
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-fill"></i>
                           <i class="ri-star-half-fill"></i>
                        </div>
                     </article>
                  </div>
               </div>
            </div>
         </section>
      </main>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
         <div class="footer__container container grid">
            <div>
               <a href="#" class="footer__logo">
                  <i class="ri-book-3-line"></i>Grok Coders
               </a>

               <p class="footer__description">
                  Find and explore the best <br>
                  Connect from all your <br>
                  favorite techies.
               </p>
            </div>

            <div class="footer__data grid">
               <div>
                  <h3 class="footer__title">About</h3>

                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">Awards</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">FAQs</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Privacy Policy</a>
                     </li>

                     <li>
                        <a href="#" class="footer__link">Terms of services</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Company</h3>
               
                  <ul class="footer__links">
                     <li>
                        <a href="#" class="footer__link">Blogs</a>
                     </li>
               
                     <li>
                        <a href="#" class="footer__link">Community</a>
                     </li>
               
                     <li>
                        <a href="#" class="footer__link">Our team</a>
                     </li>
               
                     <li>
                        <a href="#" class="footer__link">Help center</a>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Contact</h3>
               
                  <ul class="footer__links">
                     <li>
                        <address class="footer__info">
                           Av. Hacienda <br>
                           Lima 4321, Perú
                        </address>
                     </li>

                     <li>
                        <address class="footer__info">
                           e.book@email.com <br>
                           0987-654-321
                        </address>
                     </li>
                  </ul>
               </div>

               <div>
                  <h3 class="footer__title">Social</h3>
               
                  <div class="footer__social">
                     <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                        <i class="ri-facebook-circle-line"></i>
                     </a>

                     <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                        <i class="ri-instagram-line"></i>
                     </a>

                     <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                        <i class="ri-twitter-x-line"></i>
                     </a>

                  </div>
               </div>
            </div>
         </div>

         <span class="footer__copy">
            &#169; All Rights Reserved By QuestIn
         </span>
      </footer>

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
         <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
      <script src="static/assets/js/scrollreveal.min.js"></script>

      <!--=============== SWIPER JS ===============-->
      <script src="static/assets/js/swiper-bundle.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="static/assets/js/main.js"></script>
   </body>
</html>